.ingridient-btn{
  background-color: transparent;
  width: 10vw;
  height: 19vh;
  border-radius: 100%;

  // border: 10vw green;
  border: 0.5vw solid black;
}



.alt {
border: 0.5vw solid #FFD500;
}

.checked {
border: 0.5vw solid #25ff6a;
}
