
<div class="topbar-wrapper">

  <div class="left-side-wrapper">
    <div class="home-button-wrapper">
      <a (click)="goHome()">
        <i class="bi bi-house fa-2x"></i>
      </a>

    </div>

    <div class="clock-wrapper">
      {{time}}
    </div>
  </div>


  <div class="welcome-wrapper">
    <span *ngIf="showWelcome === true">{{welcomeText}}</span>
  </div>

  <div class="right-side-wrapper">
    <div class="search-wrapper">
      <i class="bi bi-search"></i>

    </div>

    <div class="hamburger-wrapper">
      <i class="bi bi-list"></i>
    </div>
  </div>
</div>
